<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragment :: headerfragment">
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div align="left" style="padding: 20px">
		<h3>Tambah Jabatan</h3>
		<form th:action="@{/jabatan/tambah}" th:object="${jabatan}"
			method="POST">
			<label class="col-sm-3" for="nama">Nama</label>
   				<input type="text" name="nama" /> 
			<br> 
			<label class="col-sm-3" for="deskripsi">Deskripsi</label>
				<input type="text" name="deskripsi" />
   			<br>
   			<label class="col-sm-3" for="gaji_pokok">Gaji Pokok</label>
				<input type="number" id="gaji_pokok" name="gaji_pokok" /> <br>
			<br>
			<button class="btn" type="submit">Simpan</button>
		</form>
	</div>
</body>
</html>